- unless flash[:notice].nil?
  %div.notice=flash[:notice]
%div.span-7
  %table
    %thead
      %th.admin
        ="HvZ " + @current_game.short_name.to_s + " Admins"
    %tbody
      - unless @admins.nil?
        - @admins.each do |a|
          %tr
            %td
              =a.name
  %table
    %thead
      %th{:colspan => 2}
        Other Contact Methods:
    %tbody
      %tr
        %td E-mail:
        %td
          = mail_to "casehvz@gmail.com"
      %tr
        %td Phone/SMS:
        %td
          216.302.4630
%div.span-15.last
  %table
    %thead
      %th{:colspan=>2} Contact HvZ Administrators
    %tbody
      %tr
        %td{:colspan=>2}
          %iframe{:frameborder => "0", :height => "100", :marginheight => "0", :marginwidth => "0", :src => "https://docs.google.com/forms/d/e/1FAIpQLSdme-cAdMcKyLPtvsf9lo7Yqkm0vKeEsMDlGibbm_PR65GfJg/viewform?embedded=true", :width => "640"} Loading…

  %b
    If you would like to be informed of the outcome of your submission here, please
    submit your name.




