- unless flash[:notice].nil?
  %div.notice=flash[:notice]
%div.span-7
  %table
    %thead
      %th.admin
        ="HvZ " + @current_game.short_name.to_s + " Admins"
    %tbody
      - unless @admins.nil?
        - @admins.each do |a|
          %tr
            %td
              =a.name
  %table
    %thead
      %th{:colspan => 2}
        Other Contact Methods:
    %tbody
      %tr
        %td E-mail:
        %td
          = mail_to "casehvz@gmail.com"
      %tr
        %td Phone/SMS:
        %td
          216.302.4630
%div.span-15.last
  %table
    %thead
      %th Contact HvZ Administrators
    %tbody
      %tr
        %iframe{:frameborder => "0", :height => "900", :marginheight => "0", :marginwidth => "0", :src => "https://docs.google.com/forms/d/e/1FAIpQLSeUch-DAW7sNVVY45pXyS8gFabur1KW1h6nrLaV7tq2TVFP7Q/viewform?embedded=true", :width => "640"}
