%table
  %thead
    %th{:colspan=>2} Edit Mission!
  %tbody
    =form_for(@mission) do |f|
      %tr
        %td
          %b=f.label :title, "Title:"
        %td=f.text_field :title
      %tr
        %td 
          %b=f.label :start, "Mission Start Time:"
        %td=f.datetime_select :start
      %tr
        %td
          %b=f.label :end, "Mission End Time:"
        %td=f.datetime_select :end
      %tr
        %td
          %b 
            =f.label :description, "Mission Description"
        %td=f.text_area :description
      %tr
        %td{:colspan=>2}=f.submit
