%table
  %thead
    %th{:colspan=>2} New Mission!
  %tbody
    =form_for(@mission) do |f|
      %tr
        %td
          %b=f.label :title, "Title:"
        %td=f.text_field :title
      %tr
        %td 
          %b=f.label :start, "Mission Start Time:"
        %td=f.datetime_select :start
      %tr
        %td
          %b=f.label :end, "Mission End Time:"
        %td=f.datetime_select :end
     %tr
        %td
          %b=f.label :storyline, "Mission Link:"
        %td=f.text_field :storyline
      %tr
        %td{:colspan=>2}=f.submit
