%h2.dink=@mission.title
%table.span-14
  %tr
    %td
      Begins:
    %td
      =date_humanize(@mission.start)
  %tr
    %td
      Ends (approximate):
    %td
      =date_humanize(@mission.end)
%iframe{:style => "margin-top:-10px;width:100%; height:700px; overflow:hidden; ", :src => "https://docs.google.com/document/d/e/2PACX-1vRFLEL9_o0SDAGTpgTXFTII8eQKl9e_0xPQwwMmENtz3hE8SH_gMw6sfTvJkDSi-JZ_zMxl2zoz0a5n/pub?embedded=true"}
