%h2.dink=@mission.title
%table.span-14
  %tr
    %td
      Begins:
    %td
      =date_humanize(@mission.start)
  %tr
    %td
      Ends (approximate):
    %td
      =date_humanize(@mission.end)

%iframe{:style => "margin-top:-10px;width:100%; height:700px; overflow:hidden; ", :src => @mission.storyline}
